body {
    background-color: white;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

header, footer {
    background-color: #333333; /* Changed to a darker shade of grey */
    color: white;
    padding: 20px 0px;
    text-align: center;
}

.logo {
    float: left;
    padding: 10px 10px;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

nav {
    text-align: center;
    margin: 0 auto;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Additional styles can be added for main content and other elements */
